{
  "semi": true,
  "singleQuote": true,
  "trailingComma": "all",
  "printWidth": 100,
  "tabWidth": 2,
  "arrowParens": "always",
  "endOfLine": "lf",
  "overrides": [
    {
      "files": "*.yaml",
      "options": { "tabWidth": 2 }
    },
    {
      "files": "*.yml",
      "options": { "tabWidth": 2 }
    }
  ]
}
